@page
@model AboutModel

<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading"><h3>Resource Information</h3></div>
    <div class="panel-body">
        <h4 class="card-title">1.Chaincode Source Code</h4>
        <h4 class="card-text">Linking to <u>https://github.com/elliechen23/cgschaincode</u></h4>
        <a href="https://github.com/elliechen23/cgschaincode" class="btn btn-primary">Learn more</a>
        <br />
        <br />
        <h4 class="card-title">2.RESTFul Service Source Code</h4>
        <h4 class="card-text">Linking to <u>https://github.com/elliechen23/balance-transfer</u></h4>
        <a href="https://github.com/elliechen23/balance-transfer" class="btn btn-primary">Learn more</a>
        <br />
        <br />
        <h4 class="card-title">3.Web APP Source Code</h4>
        <h4 class="card-text">Linking to <u>https://github.com/elliechen23/ASPNETCoreRazorPageApp</u></h4>
        <a href="https://github.com/elliechen23/ASPNETCoreRazorPageApp" class="btn btn-primary">Learn more</a>
    </div>
</div>


