@page
@model ASPNetRazorPageDemo.Pages.CreateFXTradeModel
@{
    ViewData["Title"] = "新增FX交易";
    var list = ViewData["dp"] as List<SelectListItem>;
    ViewData["TODAY"] = DateTime.Now.ToString("yyyyMMdd");
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divCreateFXTrade">
    <div class="form-group">
        <input type="text" id="txday" size="10" value='@ViewData["TODAY"]' placeholder="交易日" hidden>
        <label for="OwnCpty" class="col-sm-2">Cpty：</label>
        <select id="OwnCpty">
            <option value="0001">CptyA</option>
            <option value="0002">CptyB</option>
            <option value="0003">CptyC</option>
            <option value="0004">CptyD</option>
            <option value="0005">CptyE</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="Cpty" class="col-sm-2">交易對手：</label>
        <select id="Cpty">
            <option value="0001">CptyA</option>
            <option value="0002">CptyB</option>
            <option value="0003">CptyC</option>
            <option value="0004">CptyD</option>
            <option value="0005">CptyE</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="TradeDate" class="col-sm-2">TradeDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker1'>
            <input class="form-control input-small" id="TradeDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="MaturityDate" class="col-sm-2">MaturityDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker2'>
            <input class="form-control input-small" id="MaturityDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="Contract" class="col-sm-2">Contract：</label>
        <!--
        <select asp-for="PostBook.Source" asp-items="list">
            <option value="">Plz Select One</option>
        </select>
        -->
        <select id="Contract">
            <Option value="AUD/HKD">AUD/HKD</Option>
            <Option value="AUD/TWD">AUD/TWD</Option>
            <Option value="AUD/USD">AUD/USD</Option>
            <Option value="CAD/HKD">CAD/HKD</Option>
            <Option value="CAD/TWD">CAD/TWD</Option>
            <Option value="CHF/HKD">CHF/HKD</Option>
            <Option value="CHF/TWD">CHF/TWD</Option>
            <Option value="CNY/HKD">CNY/HKD</Option>
            <Option value="CNY/TWD">CNY/TWD</Option>
            <Option value="EUR/AUD">EUR/AUD</Option>
            <Option value="EUR/CNY">EUR/CNY</Option>
            <Option value="EUR/GBP">EUR/GBP</Option>
            <Option value="EUR/HKD">EUR/HKD</Option>
            <Option value="EUR/JPY">EUR/JPY</Option>
            <Option value="EUR/TWD">EUR/TWD</Option>
            <Option value="EUR/USD">EUR/USD</Option>
            <Option value="EUR/ZAR">EUR/ZAR</Option>
            <Option value="GBP/HKD">GBP/HKD</Option>
            <Option value="GBP/JPY">GBP/JPY</Option>
            <Option value="GBP/TWD">GBP/TWD</Option>
            <Option value="GBP/USD">GBP/USD</Option>
            <Option value="HKD/JPY">HKD/JPY</Option>
            <Option value="HKD/TWD">HKD/TWD</Option>
            <Option value="JPY/TWD">JPY/TWD</Option>
            <Option value="MYR/HKD">MYR/HKD</Option>
            <Option value="MYR/TWD">MYR/TWD</Option>
            <Option value="NZD/HKD">NZD/HKD</Option>
            <Option value="NZD/TWD">NZD/TWD</Option>
            <Option value="NZD/USD">NZD/USD</Option>
            <Option value="PHP/TWD">PHP/TWD</Option>
            <Option value="SEK/TWD">SEK/TWD</Option>
            <Option value="SGD/HKD">SGD/HKD</Option>
            <Option value="SGD/TWD">SGD/TWD</Option>
            <Option value="THB/HKD">THB/HKD</Option>
            <Option value="USD/BRL">USD/BRL</Option>
            <Option value="USD/CAD">USD/CAD</Option>
            <Option value="USD/CHF">USD/CHF</Option>
            <Option value="USD/CNY">USD/CNY</Option>
            <Option value="USD/HKD">USD/HKD</Option>
            <Option value="USD/INR">USD/INR</Option>
            <Option value="USD/JPY">USD/JPY</Option>
            <Option value="USD/KRW">USD/KRW</Option>
            <Option value="USD/MOP">USD/MOP</Option>
            <Option value="USD/MYR">USD/MYR</Option>
            <Option value="USD/PHP">USD/PHP</Option>
            <Option value="USD/SEK">USD/SEK</Option>
            <Option value="USD/SGD">USD/SGD</Option>
            <Option value="USD/THB">USD/THB</Option>
            <Option value="USD/TWD">USD/TWD</Option>
            <Option value="USD/ZAR">USD/ZAR</Option>
            <Option value="ZAR/HKD">ZAR/HKD</Option>
            <Option value="ZAR/TWD">ZAR/TWD</Option>
        </select>
        <br />
    </div>
        <div class="form-group">
            <label for="BuyCurr" class="col-sm-2">Buy：</label>
            <select id="BuyCurr">
                <Option value="AUD">AUD</Option>
                <Option value="CAD">CAD</Option>
                <Option value="CHF">CHF</Option>
                <Option value="CNY">CNY</Option>
                <Option value="EUR">EUR</Option>
                <Option value="GBP">GBP</Option>
                <Option value="HKD">HKD</Option>
                <Option value="JPY">JPY</Option>
                <Option value="MYR">MYR</Option>
                <Option value="NZD">NZD</Option>
                <Option value="PHP">PHP</Option>
                <Option value="SEK">SEK</Option>
                <Option value="SGD">SGD</Option>
                <Option value="THB">THB</Option>
                <Option value="USD">USD</Option>
                <Option value="ZAR">ZAR</Option>
            </select>
            <input type="text" id="BuyCurrAmt" value="" size="10" placeholder="BuyCurrAmt">
            <br />
        </div>
        <div class="form-group">
            <label for="SellCurr" class="col-sm-2">Sell：</label>
            <select id="SellCurr">
                <Option value="AUD">AUD</Option>
                <Option value="BRL">BRL</Option>
                <Option value="CAD">CAD</Option>
                <Option value="CHF">CHF</Option>
                <Option value="CNY">CNY</Option>
                <Option value="GBP">GBP</Option>
                <Option value="HKD" selected>HKD</Option>
                <Option value="INR">INR</Option>
                <Option value="JPY">JPY</Option>
                <Option value="KRW">KRW</Option>
                <Option value="MOP">MOP</Option>
                <Option value="MYR">MYR</Option>
                <Option value="PHP">PHP</Option>
                <Option value="SEK">SEK</Option>
                <Option value="SGD">SGD</Option>
                <Option value="THB">THB</Option>
                <Option value="TWD">TWD</Option>
                <Option value="USD">USD</Option>
                <Option value="ZAR">ZAR</Option>
            </select>
            <input type="text" id="SellCurrAmt" value="" size="10" placeholder="SellCurrAmt">
            <br />
        </div>
        <div class="form-group">
            <label for="NetPrice" class="col-sm-2">NetPrice：</label>
            <input type="text" id="NetPrice" value="" size="10" placeholder="合約價">
            <button id="sure">確定</button>
            <br />
        </div>
        <br />
    </div>
    <br />
    @Html.AntiForgeryToken()
    <h2 style="color:brown;">執行結果</h2>
    <div id="dvPostResult" style="font-size:16pt"></div>
    <h5>@Model.Message</h5>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(document).ready(function () {
                var site = gSite;

                $.ajax({
                    type: "POST",
                    url: site + "/users",
                    dataType: "json",
                    data: {
                        username: "Jim",
                        orgName: "Org1"
                    },
                    success: function (data) {
                        if (data.success) {
                            //$("#dvPostResult").html(data.message);
                            $("#token").val(data.token);
                        } else {
                            $("#dvPostResult").html(data.message);
                        }
                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                    }
                })

                var selectmenu=document.getElementById("Contract")
                selectmenu.onchange=function(){
                     var chosenoption=this.options[this.selectedIndex].value;
                     document.getElementById("BuyCurr").value = chosenoption.substring(0,3);
                     document.getElementById("SellCurr").value = chosenoption.substring(4,7);
                     //NetPrice  預設抓報價 
                     $.ajax({
                               type: "GET",
                               url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryMTMPrice&args=%5B%22" + $("#txday").val() + "%22%5D",
                               dataType: "html",
                               success: function (data) {
                                    console.log(data)
                                    var data1 = data.replace(' now has', '');
                                    var data2 = data1.replace(' after the move', '');
                                    var json = JSON.parse(data2);
                                    console.log(json);
                                    //$("#dvPostResult").html(json.docType + " loaded successfully.");
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "AUDHKD")  {
                                         $("#NetPrice").val(json.AUDHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "AUDTWD")  {
                                         $("#NetPrice").val(json.AUDTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "AUDUSD")  {
                                         $("#NetPrice").val(json.AUDUSD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CADHKD")  {
                                         $("#NetPrice").val(json.CADHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CADTWD")  {
                                         $("#NetPrice").val(json.CADTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CHFHKD")  {
                                         $("#NetPrice").val(json.CHFHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CHFTWD")  {
                                         $("#NetPrice").val(json.CHFTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CNYHKD")  {
                                         $("#NetPrice").val(json.CNYHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "CNYTWD")  {
                                         $("#NetPrice").val(json.CNYTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURAUD")  {
                                         $("#NetPrice").val(json.EURAUD);
                                    } 
                                    //
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURCNY")  {
                                         $("#NetPrice").val(json.EURCNY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURGBP")  {
                                         $("#NetPrice").val(json.EURGBP);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURHKD")  {
                                         $("#NetPrice").val(json.EURHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURJPY")  {
                                         $("#NetPrice").val(json.EURJPY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURTWD")  {
                                         $("#NetPrice").val(json.EURTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURUSD")  {
                                         $("#NetPrice").val(json.EURUSD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "EURZAR")  {
                                         $("#NetPrice").val(json.EURZAR);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "GBPHKD")  {
                                         $("#NetPrice").val(json.GBPHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "GBPJPY")  {
                                         $("#NetPrice").val(json.GBPJPY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "GBPTWD")  {
                                         $("#NetPrice").val(json.GBPTWD);
                                    } 
                                    //
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "GBPUSD")  {
                                         $("#NetPrice").val(json.GBPUSD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "HKDJPY")  {
                                         $("#NetPrice").val(json.HKDJPY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "HKDTWD")  {
                                         $("#NetPrice").val(json.HKDTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "JPYTWD")  {
                                         $("#NetPrice").val(json.JPYTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "MYRHKD")  {
                                         $("#NetPrice").val(json.MYRHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "MYRTWD")  {
                                         $("#NetPrice").val(json.MYRTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "NZDHKD")  {
                                         $("#NetPrice").val(json.NZDHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "NZDTWD")  {
                                         $("#NetPrice").val(json.NZDTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "NZDUSD")  {
                                         $("#NetPrice").val(json.NZDUSD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "PHPTWD")  {
                                         $("#NetPrice").val(json.PHPTWD);
                                    } 
                                    //
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "SEKTWD")  {
                                         $("#NetPrice").val(json.SEKTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "SGDHKD")  {
                                         $("#NetPrice").val(json.SGDHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "SGDTWD")  {
                                         $("#NetPrice").val(json.SGDTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "THBHKD")  {
                                         $("#NetPrice").val(json.THBHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDBRL")  {
                                         $("#NetPrice").val(json.USDBRL);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDCAD")  {
                                         $("#NetPrice").val(json.USDCAD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDCHF")  {
                                         $("#NetPrice").val(json.USDCHF);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDCNY")  {
                                         $("#NetPrice").val(json.USDCNY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDHKD")  {
                                         $("#NetPrice").val(json.USDHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDINR")  {
                                         $("#NetPrice").val(json.USDINR);
                                    } 
                                    //
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDJPY")  {
                                         $("#NetPrice").val(json.USDJPY);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDKRW")  {
                                         $("#NetPrice").val(json.USDKRW);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDMOP")  {
                                         $("#NetPrice").val(json.USDMOP);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDMYR")  {
                                         $("#NetPrice").val(json.USDMYR);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDPHP")  {
                                         $("#NetPrice").val(json.USDPHP);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDSEK")  {
                                         $("#NetPrice").val(json.USDSEK);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDSGD")  {
                                         $("#NetPrice").val(json.USDSGD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDTHB")  {
                                         $("#NetPrice").val(json.USDTHB);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDTWD")  {
                                         $("#NetPrice").val(json.USDTWD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "USDZAR")  {
                                         $("#NetPrice").val(json.USDZAR);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "ZARHKD")  {
                                         $("#NetPrice").val(json.ZARHKD);
                                    } 
                                    if   (chosenoption.substring(0,3) + chosenoption.substring(4,7)  == "ZARTWD")  {
                                         $("#NetPrice").val(json.ZARTWD);
                                    } 
                               },
                               error: function (jqXHR) {
                                    alert("發生錯誤: " + jqXHR.status);
                                    console.log(jqXHR);
                                },
                              //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                              beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
  
                     })
                }

                $("#BuyCurrAmt").change(function ()
                {
                    var value = $('#BuyCurrAmt').val();
                    if (value.indexOf('m') >= 0) {
                        $('#BuyCurrAmt').val(value.substring(0,value.indexOf('m')) + '000000') ;
                    }
                    if (value.indexOf('M') >= 0) {
                        $('#BuyCurrAmt').val(value.substring(0,value.indexOf('M')) + '000000') ;
                    }
                });

               $("#SellCurrAmt").change(function ()
                {
                    var value = $('#SellCurrAmt').val();
                    if (value.indexOf('m') >= 0) {
                        $('#SellCurrAmt').val(value.substring(0,value.indexOf('m')) + '000000') ;
                    }
                    if (value.indexOf('M') >= 0) {
                        $('#SellCurrAmt').val(value.substring(0,value.indexOf('M')) + '000000') ;
                    }
                });

                $('#datetimepicker1').datetimepicker({
                    format: 'yyyy/mm/dd',
                    autoclose: true,
                    todayBtn: true,
                    minView: 2,
                    viewSelect: 'year',
                    startView: 2,
                    autoclose: true,
                    bootcssVer: 3,
                    keepOpen: false,
                    defaultDate:new Date()
                });

                $('#datetimepicker2').datetimepicker({
                    format: 'yyyy/mm/dd',
                    autoclose: true,
                    todayBtn: true,
                    minView: 2,
                    viewSelect: 'year',
                    startView: 2,
                    autoclose: true,
                    bootcssVer: 3,
                    keepOpen: false,
                    defaultDate:new Date()
                });

                $("#sure").click(function () {
                    //var regex=/^[a-zA-Z]+$/;
                    //if (!$('#BuyCurrAmt').val().match(regex))
                    //{
                    //   alert("BuyCurrAmt must input string");
                    //   return false;
                    //}
                    //if (!$('#SellCurrAmt').val().match(regex))
                    //{
                    //   alert("SellCurrAmt must input string");
                    //   return false;
                   //}

                    var str=$("#TradeDate").val();
                    var val = Date.parse(str);
                    var TradeDate=new Date(val);

                    var str1=$("#MaturityDate").val();
                    var val1 = Date.parse(str1);
                    var MaturityDate=new Date(val1);

                    //var now = new Date();
                    //var spotdate =now.setDate(now.getDate() + 2);

                    var TXKinds,TXType;
                    var datediff = (MaturityDate-TradeDate)/(1000 * 60 * 60 * 24);
                    if (datediff >= 3) {
                       TXKinds = "FW";
                    }
                    else {
                       TXKinds = "SPOT";
                    }

                    //peer chaincode invoke -n mycc -c '{"Args":["FXTradeTransfer", "B","0001","0002","2018/01/01","2018/12/30","USD/TWD","USD","1000000","TWD","1000000","26","SPOT","true"]}' -C myc
                    if ($("#Contract").val().substring(0,3) == $("#BuyCurr").val()) {
                        TXType = "B";
                        Curr1 = $("#BuyCurr").val();
                        Amount1 = $("#BuyCurrAmt").val();
                        Curr2 = $("#SellCurr").val();
                        Amount2 = $("#SellCurrAmt").val();
                    }
                    else {
                        TXType = "S";
                        Curr1 = $("#SellCurr").val();
                        Amount1 = $("#SellCurrAmt").val();
                        Curr2 = $("#BuyCurr").val();
                        Amount2 = $("#BuyCurrAmt").val();
                    }
                    data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "FXTradeTransfer","args": ["' + TXType + '","' + $("#OwnCpty").val() + '","' + $("#Cpty").val() + '","' + $("#TradeDate").val() + '","' + $("#MaturityDate").val() + '","' + $("#Contract").val() + '","' + Curr1 + '","' + Amount1 + '","' + Curr2 + '","' + Amount2 + '","' + $("#NetPrice").val() + '","' + TXKinds + '", "true"]}'
                    //alert(data);
                    // 使用 ajax() 來呼叫 REST API
                    $.ajax({
                        url: site + "/channels/mychannel/chaincodes/mycc",
                        type: "POST",
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        complete: function (data, textStatus, jqXHR) {
                            console.log(textStatus);
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                            swal({
                                title: "交易成功!",
                                text: "",
                                icon: "success",
                                button: "確定",
                            });
                        },
                        error: function (jqXHR) {
                            alert("發生錯誤: " + jqXHR.status);
                            console.log(jqXHR);
                        },
                        //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                        }
                    });
                })
            });
        </script>
    }
