@page
@model ASPNetRazorPageDemo.Pages.CreateFXTradeModel
@{
    ViewData["Title"] = "新增FX交易";
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divCreateFXTrade">
    <div class="form-group">
        <label for="Cpty" class="col-sm-2">交易對手：</label>
        <select id="Cpty">
           <option value="0001">CptyA</option>
           <option value="0002">CptyB</option>
           <option value="0003">CptyC</option>
           <option value="0004">CptyD</option>
           <option value="0005">CptyE</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="TradeDate" class="col-sm-2">TradeDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker1'>
            <input class="form-control input-small" id="TradeDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="MaturityDate" class="col-sm-2">MaturityDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker2'>
            <input class="form-control input-small" id="MaturityDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="Contract" class="col-sm-2">Contract：</label>
        <select id="Contract">
            <option value="USD/TWD">USD/TWD</option>
            <option value="USD/CNH">USD/CNH</option>
            <option value="USD/ZAR">USD/ZAR</option>
            <option value="EUR/NZD">EUR/NZD</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="BuyCurr" class="col-sm-2">Buy：</label>
        <select id="BuyCurr">
            <option value="USD">USD</option>
            <option value="CNH">CNH</option>
            <option value="ZAR">ZAR</option>
            <option value="EUR">EUR</option>
            <option value="NZD">NZD</option>
        </select>
        <input type="text" id="BuyCurrAmt" value="" size="10" placeholder="BuyCurrAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="SellCurr" class="col-sm-2">Sell：</label>
        <select id="SellCurr">
            <option value="USD">USD</option>
            <option value="CNH">CNH</option>
            <option value="ZAR">ZAR</option>
            <option value="EUR">EUR</option>
            <option value="NZD">NZD</option>
        </select>
        <input type="text" id="SellCurrAmt" value="" size="10" placeholder="SellCurrAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="NetPrice" class="col-sm-2">NetPrice：</label>
        <input type="text" id="NetPrice" value="" size="10" placeholder="合約價">
        <button id="sure">確定</button>
        <br />
    </div>
    <br />
</div>
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>
<div id="dvPostResult" style="font-size:16pt"></div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            var site = gSite;

            $.ajax({
                type: "POST",
                url: site + "/users",
                dataType: "json",
                data: {
                    username: "Jim",
                    orgName: "Org1"
                },
                success: function (data) {
                    if (data.success) {
                        //$("#dvPostResult").html(data.message);
                        $("#token").val(data.token);
                    } else {
                        $("#dvPostResult").html(data.message);
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            })

            var selectmenu=document.getElementById("Contract")
            selectmenu.onchange=function(){
                 var chosenoption=this.options[this.selectedIndex].value;
                 document.getElementById("BuyCurr").value = chosenoption.substring(0,3);
                 document.getElementById("SellCurr").value = chosenoption.substring(4,7);
            }


            $('#datetimepicker1').datetimepicker({
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayBtn: true,
                minView: 2,
                viewSelect: 'year',
                startView: 2,
                autoclose: true,
                bootcssVer: 3,
                keepOpen: false,
                defaultDate:new Date()
            });

            $('#datetimepicker2').datetimepicker({
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayBtn: true,
                minView: 2,
                viewSelect: 'year',
                startView: 2,
                autoclose: true,
                bootcssVer: 3,
                keepOpen: false,
                defaultDate:new Date()
            });

            $("#sure").click(function () {
                //peer chaincode invoke -n mycc -c '{"Args":["FXTradeTransfer", "B","0001","0002","2018/01/01","2018/12/31","USD/TWD","USD","1000000","true"]}' -C myc
                var TXType;
                if ($("#Contract").val().substring(0,3) == $("#BuyCurr").val()) {
                    TXType = "B";
                    Curr1 = $("#BuyCurr").val();
                    Amount1 = $("#BuyCurrAmt").val();
                    Curr2 = $("#SellCurr").val();
                    Amount2 = $("#SellCurrAmt").val();
                }
                else {
                    TXType = "S";
                    Curr1 = $("#SellCurr").val();
                    Amount1 = $("#SellCurrAmt").val();
                    Curr2 = $("#BuyCurr").val();
                    Amount2 = $("#BuyCurrAmt").val();
                }
                data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "FXTradeTransfer","args": ["' + TXType + '","0001","' + $("#Cpty").val() + '","' + $("#TradeDate").val() + '","' + $("#MaturityDate").val() + '","' + $("#Contract").val() + '","' + Curr1 + '","' + Amount1 + '","' + Curr2 + '","' + Amount2 + '","' + $("#NetPrice").val() + '" , "true"]}'
                alert(data);
                // 使用 ajax() 來呼叫 REST API
                $.ajax({
                    url: site + "/channels/mychannel/chaincodes/mycc",
                    type: "POST",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                        swal({
                            title: "交易成功!",
                            text: "",
                            icon: "success",
                            button: "確定",
                        });

                        $.ajax({
                            type: "GET",
                            url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=createFXTrade&args=%5B%22" + "approveflag" + "%22%5D",
                            dataType: "html",
                            success: function (data) {
                                var data1 = data.replace(' now has', '');
                                var data2 = data1.replace(' after the move', '');
                                //$('#bank').html("")
                                var json = JSON.parse(data2);
                                console.log(json);
                                $("#dvPostResult").html("同資旗標已設定為：" + formatApproveFlag(json))

                            },
                            error: function (jqXHR) {
                                alert("發生錯誤: " + jqXHR.status);
                                console.log(jqXHR);
                            },
                            //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                            }
                        })
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                    }
                });
            })
        });
</script>
}