@page
@model ASPNetRazorPageDemo.Pages.CreateFXTradeMTMModel
@{
    ViewData["Title"] = "交易MTM市值計算";
    ViewData["TODAY"] = DateTime.Now.ToString("yyyyMMdd");
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divReadBankTX">
    <div class="form-group">
        <label for="txday">交易日期：</label>
        <input type="text" id="txday" size="10" value='@ViewData["TODAY"]' placeholder="交易日">
        <button id="create">計算MTM</button>
    </div>
    <br />
    <br />
    <div id="reportTableDiv">
        <table id="reportTable"></table>
    </div>
</div>
<br />
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>
<div id="dvPostResult" style="font-size:16pt"></div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

        $(document).ready(function () {
            var site = gSite;
            var datas = [];
            var TXIDarr = [];
            $.ajax({
                type: "POST",
                url: site + "/users",
                dataType: "json",
                data: {
                    username: "Jim",
                    orgName: "Org1"
                },
                success: function (data) {
                    if (data.success) {
                        //$("#dvPostResult").html(data.message);
                        $("#token").val(data.token);
                    } else {
                        $("#dvPostResult").html(data.message);
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            })


            //var now = new Date();
            //var today = now.getFullYear() + '/' + ((now.getMonth() + 1)<10 ? '0' : '')+((now.getMonth() + 1)) + '/' +  (now.getDate()<10 ? '0' : '')+now.getDate();
            //$('#txday').val(today);

            $("#create").click(function () {
                // 使用 ajax() 來呼叫 REST API Step1：刪除當日資料
                $.ajax({
                    type: "POST",
                    url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=deleteCptyM&args=%5B%22MTM" + $("#txday").val() + "%22%5D",
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                         console.log(data);


                        $("#dvPostResult").html("1.Delete Transactions loaded successfully.");

                        // 使用 ajax() 來呼叫 REST API Step2：取得要計算MTM交易單號
                        $.ajax({
                                type: "GET",
                                url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=QueryFXTradeMTM&args=%5B%22" + $("#txday").val() + "%22%5D",
                                dataType: "html",
                                success: function (data2) {
                                    console.log(data2);
                                    var data1 = data2.replace(' now has', '');
                                    var data2 = data2.replace(' after the move', '');
                                    var json = JSON.parse(data2);

                                    var recordnum = 0;
                                    console.log(json);

                                    $("#dvPostResult").html("2.Transactions loaded successfully.");

                                    for (i = 0; i < json.length; i++) {
                                        TXIDarr.push(json[i].Key);
                                    }

                                    each(0);

                                },

                                error: function (jqXHR) {
                                    alert("發生錯誤: " + jqXHR.status);
                                    console.log(jqXHR);
                                },
                                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                                    beforeSend: function (xhr, settings) {
                                    xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                                }
                        });

                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                        console.log(jqXHR);
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                    }
                });


            })

            //計算每筆MTM
            function each(recordnum){

                    dataMTM = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "FXTradeMTM","args": ["' + TXIDarr[recordnum] + '","' + $("#txday").val() + '"]}'
                    //alert(dataMTM);
                    // 使用 ajax() 來呼叫 REST API

                    $.ajax({
                         url: site + "/channels/mychannel/chaincodes/mycc",
                         type: "POST",
                         data: dataMTM,
                         contentType: "application/json; charset=utf-8",
                         complete: function (data3, textStatus, jqXHR) {
                                console.log(textStatus);
                         },
                         success: function (data3, textStatus, jqXHR) {
                                console.log(data3);

                                if (recordnum < TXIDarr.length) each(recordnum+1);

                                if (recordnum == TXIDarr.length-1) {
                                    $("#dvPostResult").html("3.Insert Transactions loaded successfully.");

                                    swal({
                                         title: "交易成功!",
                                         text: "",
                                         icon: "success",
                                         button: "確定",
                                    });
                                }
                         },
                         error: function (jqXHR) {
                               alert("發生錯誤: " + jqXHR.status);
                               console.log(jqXHR);
                         },
                         //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                         beforeSend: function (xhr, settings) {
                                  xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                         }
                      });

            } //function

        });  //document


</script>
}