@page
@model ASPNetRazorPageDemo.Pages.CreateMTMModel
@{
    ViewData["Title"] = "報價資料匯入";
    ViewData["TODAY"] = DateTime.Now.ToString("yyyyMMdd");
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divReadBankTX">
    <div class="form-group">
        <label for="txday">交易日期：</label>
        <input type="text" id="txday" size="10" value='@ViewData["TODAY"]' placeholder="交易日">
        <button id="create">計算MTM</button>
    </div>
    <br />
    <br />
    <div id="reportTableDiv">
        <table id="reportTable"></table>
    </div>
</div>
<br />
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>
<div id="dvPostResult" style="font-size:16pt"></div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            var site = gSite;

            $("#create").click(function () {
                // 使用 ajax() 來呼叫 REST API
                data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "createMTMPrice","args": ["' + gWebSite + '","' + $("#txday").val() + '"]}'
                alert(data)
                $.ajax({
                    type: "POST",
                    url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=createMTMPrice&args=%5B%22" + gWebSite + "%22%2C%22" + $("#txday").val() + "%22%5D",
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                         console.log(data);

                         swal({
                                title: "交易成功!",
                                text: "",
                                icon: "success",
                                button: "確定",
                            });
                     },
                     error: function (jqXHR) {
                         console.log('Error in Operation');
                     },
                     //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                     beforeSend: function (xhr, settings) {
                          xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                     }
                });

            })
        });
</script>
}