@page
@model IndexModel

<br />
<br />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://localhost:51599/">
                <img src="~/images/fabric-index5.png" alt="ASP.NET" class="img-responsive" width="80%" align="center" />
                <div class="carousel-caption" role="option">
                    <h5 align="right">系統概要圖</h5>
                </div>
            </a>
        </div>
        <!--
    <div class="item">
        <img src="~/images/fabric-index2.png" alt="Visual Studio" class="img-responsive" width="80%" align="center" />
        <div class="carousel-caption" role="option">
            <h5 align="right">系統架構圖</h5>
        </div>
    </div>
    <div class="item">
        <img src="~/images/fabric-index3.png" alt="Package Management" class="img-responsive" width="80%" align="center" />
        <div class="carousel-caption" role="option">
            <h5 align="right">交易流程圖</h5>
        </div>
    </div>
    <div class="item">
        <img src="~/images/fabric-index4.png" alt="Package Management" class="img-responsive" width="80%" align="center" />
        <div class="carousel-caption" role="option">
            <h5 align="right">交易狀態圖</h5>
        </div>
    </div>
    -->
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
