@page
@model ASPNetRazorPageDemo.Pages.InvokeModel
@{
    ViewData["Title"] = "同資旗標設定";
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divReadBank">
    <div class="col-md-8">
        <label for="approve_flag">請選擇欲設定之同資旗標：</label>
        <select id="approve_flag">
            <option value="0">成功(預設)</option>
            <option value="1">等待回應</option>
            <option value="2">款不足</option>
            <option value="3">系統錯誤</option>
            <option value="5">自動檢核</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="setflg">確定</button>
    </div>
    <br />
    <br />
</div>
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>
<div id="dvPostResult" style="font-size:16pt"></div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var site = gSite;

            $.ajax({
                type: "POST",
                url: site + "/users",
                dataType: "json",
                data: {
                    username: "Jim",
                    orgName: "Org1"
                },
                success: function (data) {
                    if (data.success) {
                        //$("#dvPostResult").html(data.message);
                        $("#token").val(data.token);
                    } else {
                        $("#dvPostResult").html(data.message);
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            })

            $("#setflg").click(function () {
                data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "put","args": ["approveflag","' + $("#approve_flag").val() + '"]}'
                // 使用 ajax() 來呼叫 REST API
                $.ajax({
                    url: site + "/channels/mychannel/chaincodes/mycc",
                    type: "POST",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                        swal({
                            title: "交易成功!",
                            text: "",
                            icon: "success",
                            button: "確定",
                        });

                        $.ajax({
                            type: "GET",
                            url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=get&args=%5B%22" + "approveflag" + "%22%5D",
                            dataType: "html",
                            success: function (data) {
                                var data1 = data.replace(' now has', '');
                                var data2 = data1.replace(' after the move', '');
                                //$('#bank').html("")
                                var json = JSON.parse(data2);
                                console.log(json);
                                $("#dvPostResult").html("同資旗標已設定為：" + formatApproveFlag(json))

                            },
                            error: function (jqXHR) {
                                alert("發生錯誤: " + jqXHR.status);
                                console.log(jqXHR);
                            },
                            //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                            }
                        })
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                    }
                });
            })
        });
    </script>
}