@page
@model ASPNetRazorPageDemo.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "登入";
    Layout = null;
}

<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FX Trade System</title>
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<br />
<br />
<br />
<br />
<br />
<body background="./images/544750.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="Cpty">Cpty：</label>
                                    <select id="Cpty" name="LoginData.Cpty">
                                        <option value="MANAGER">Manager</option>
                                        <option value="BANK1">BANK1</option>
                                        <option value="BANK2">BANK2</option>
                                        <option value="BANK3">BANK3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="Username" placeholder="Username" name="LoginData.Username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="LoginData.password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="LoginData.remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <input type="text" id="LoginData.HiddenCpty" name="LoginData.HiddenCpty" value="" runat="server" hidden>
                                <input type="text" id="LoginData.HiddenUsername" name="LoginData.HiddenUsername" value="" runat="server" hidden>
                                <input type="text" id="LoginData.HiddenPassword" name="LoginData.HiddenPassword" value="" runat="server" hidden>
                                <input type="text" id="LoginData.HiddenUserStatus" name="LoginData.HiddenUserStatus" value="" runat="server" hidden>
                                <!-- Change this to a button or input when using this as a form -->
                                <!--<button id="Login" class="btn btn-lg btn-success btn-block">Login</button>-->
                                <button class="btn btn-lg btn-success btn-block" id="Login" type="submit">Login</button>
                                <br />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @Html.AntiForgeryToken()
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>


<script type="text/javascript" language="JavaScript">$(document).ready(function () {

        var gSite = "http://10.232.225.5" + ":4000"
        var site = gSite;
        //document.getElementById("LoginData.HiddenUsername").value = "abcddd";

        $.ajax({
            type: "POST",
            url: site + "/users",
            async: false,
            dataType: "json",
            data: {
                username: "Jim",
                orgName: "Org1"
            },
            success: function (data) {
                if (data.success) {
                    //$("#dvPostResult").html(data.message);
                    $("#token").val(data.token);
                } else {
                    $("#dvPostResult").html(data.message);
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        })

        $("#Login").click(function () {

            $.ajax({
                type: "GET",
                url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryUser&args=%5B%22" + $('#Cpty').val() + "%22%2C%22" + $('#Username').val() + "%22%5D",

                dataType: "html",
                async: false,
                success: function (data) {
                    console.log(data);
                    var data1 = data.replace(' now has', '');
                    var data2 = data1.replace(' after the move', '');

                    var json = JSON.parse(data2);
                    console.log(json);

                    document.getElementById("LoginData.HiddenUsername").value = json[0].Record.UserName;
                    document.getElementById("LoginData.HiddenCpty").value = json[0].Record.CptyID;
                    document.getElementById("LoginData.HiddenPassword").value = json[0].Record.Password;
                    document.getElementById("LoginData.HiddenUserStatus").value = json[0].Record.UserStatus;
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                    console.log(jqXHR);
                },
                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
            })
        })

    });</script>






