@page
@model ASPNetRazorPageDemo.Pages.PaymentCollateralModel
@{
    ViewData["Title"] = "擔保品支付";
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divUpdateFXTrade">
    <div class="form-group">
        <label for="txid">交易序號：</label>
        <input type="text" id="txid" value="" size="47" placeholder="交易序號0001000220181124020917">
        <button id="search">資料查詢</button>
        <br />
    </div>
    <br />
    <div class="form-group">
        <input type="text" id="txday" size="10" placeholder="交易日" hidden>
        <label for="OwnCpty" class="col-sm-2">Cpty：</label>
        <select id="OwnCpty" class="col-sm-2">
            <option value="0001">CptyA</option>
            <option value="0002">CptyB</option>
            <option value="0003">CptyC</option>
            <option value="0004">CptyD</option>
            <option value="0005">CptyE</option>
        </select>
        <label for="Cpty" class="col-sm-2">交易對手：</label>
        <select id="Cpty" class="col-sm-2">
            <option value="0001">CptyA</option>
            <option value="0002">CptyB</option>
            <option value="0003">CptyC</option>
            <option value="0004">CptyD</option>
            <option value="0005">CptyE</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="MarginCall" class="col-sm-2">MarginCall金額：</label>
        <input class="col-sm-2" type="text" id="MarginCall" value="" size="10" placeholder="MarginCall">
        <label for="UnderMarginCall" class="col-sm-2">尚欠MarginCall：</label>
        <input class="col-sm-2" type="text" id="UnderMarginCall" value="" size="10"  readonly>
        <br />
    </div>
    <br />
    <!-- Editable table -->
    <div class="form-group">
        <button id="add" class="btn btn-default" title="添加">
            <i class="glyphicon glyphicon-plus"></i> 添加
        </button>
        <button id="del" class="btn btn-default" title="刪除">
            <i class="glyphicon glyphicon-minus"></i> 刪除
        </button>
    </div>
    <div class="form-group">
        <label for="Curr" class="col-sm-2">幣別：</label>
        <select id="Curr" class="col-sm-2">
            <option value="USD">USD</option>
            <option value="TWD">TWD</option>
        </select>
        <label for="CollateralType" class="col-sm-2">擔保品種類：</label>
        <select id="CollateralType" class="col-sm-2">
            <option value="Cash">Cash</option>
            <option value="Bond">Bond</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="CollateralDetail" class="col-sm-2">擔保品類別：</label>
        <select id="CollateralDetail" class="col-sm-2">

            <option value="USD">USD</option>
            <!--
            <option value="TWD">TWD</option>
            <option value="A03108">A03108</option>
            <option value="A00104">A00104</option>
            <option value="A04102">A04102</option>
            <option value="A03107">A03107</option>
            <option value="A03114">A03114</option>
            <option value="US46625HJZ47">US46625HJZ47</option>
            <option value="US71647NAM11">US71647NAM11</option>
            <option value="XS11335850562">XS11335850562</option>
            <option value="US25152RXA66">US25152RXA66</option>
            <option value="BBG00FYBLQH5">BBG00FYBLQH5</option>
                -->
        </select>
        <label for="CollateralAmount" class="col-sm-2">擔保品金額：</label>
        <input type="text" id="CollateralAmount" value="" size="10" placeholder="擔保品金額">
    </div>
    <div>
        <table id="wareTable" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="checkbox" data-checkbox="true"></th>
                    <th data-field="Curr">幣別</th>
                    <th data-field="CollateralType">擔保品種類</th>
                    <th data-field="CollateralDetail">擔保品類別</th>
                    <th data-field="CollateralAmount">擔保品金額</th>
                    <th data-field="Discount">折現率</th>
                    <th data-field="DiscountAmount">折現後擔保品金額</th>
                </tr>
            </thead>
        </table>
    </div>
    <br />
    <br />
    <!-- Editable table -->
            <div class="col-sm">
                <button id="update">支付</button>
                <br />
            </div>
            <br />
            <br />
            <div id="reportTableDiv">
                <table id="reportTable"></table>
            </div>
</div>
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>

<div id="dvPostResult" style="font-size:16pt">
</div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function () {
            var site = gSite;
            var USDCashPCT=1, TWDCashPCT=2, USDBondPCT=3, TWDBondPCT=4;
            var Discount=USDCashPCT, DiscountAmount;
            var Curr="USD", CollateralType="Cash";
            var count=1;

            var $add = $('#add');
            var $remove = $('#del');
            var $table = $("#wareTable");

            var Currarr = [];
            var CollateralTypearr = [];
            var CollateralDetailarr = [];
            var Amountarr = [];
            var Discountarr = [];
            var DiscountAmountarr  = [];
            var arrlength = 0;
            var recordnum = 0;

            var TXIDarr = [];
            $(function () {
                $table.bootstrapTable({
                    formatNoMatches: function () {
                        return '';
                }
              });
            });

            $remove.click(function () {
                //var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                //    return row.id;
                //});
               var removeDiscountAmount;
               var selects = $table.bootstrapTable('getSelections');
                     var ids = $.map(selects, function (row) {
                     removeDiscountAmount = row.DiscountAmount;
                     return row.id;
               });

               if (ids.length != 1 ) {
                    alert("請選擇一筆刪除!");
                    return;
               }
               $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $('#UnderMarginCall').val(parseFloat($('#UnderMarginCall').val()) + parseFloat(removeDiscountAmount));
            });


            $add.click(function () {
                if ($('#txid').val() ==  "") {
                    alert("要先查詢交易單號才能支付!");
                    return;
                }

                if ($('#CollateralAmount').val() ==  "") {
                    alert("擔保品金額要輸入!");
                    return;
                }
                $('#UnderMarginCall').val($('#UnderMarginCall').val() - DiscountAmount);

                var index = $table.bootstrapTable('getData').length;
                $table.bootstrapTable('insertRow', {
                    index: index,
                    row: {
                        id: count,
                        Curr: $("#Curr").val(),
                        CollateralType: $("#CollateralType").val(),
                        CollateralDetail: $("#CollateralDetail").val(),
                        CollateralAmount: $("#CollateralAmount").val(),
                        Discount: Discount,
                        DiscountAmount: DiscountAmount
                     }
                });
                count += 1;
            });

            var selectCurr=document.getElementById("Curr")
            selectCurr.onchange=function(){
                     Curr=this.options[this.selectedIndex].value;
                     if (Curr == "USD" & CollateralType =="Cash") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="USD">USD</option>');
                         Discount = USDCashPCT
                     }
                     if (Curr == "TWD" & CollateralType =="Cash") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="TWD">TWD</option>');
                         Discount = TWDCashPCT
                     }
                     if (Curr == "USD" & CollateralType =="Bond") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="US46625HJZ47">US46625HJZ47</option>');
                         $('#CollateralDetail').append('<option value="US71647NAM11">US71647NAM11</option>');
                         $('#CollateralDetail').append('<option value="XS11335850562">XS11335850562</option>');
                         $('#CollateralDetail').append('<option value="US25152RXA66">US25152RXA66</option>');
                         $('#CollateralDetail').append('<option value="BBG00FYBLQH5">BBG00FYBLQH5</option>');
                         Discount = USDBondPCT
                     }
                     if (Curr == "TWD" & CollateralType =="Bond") {
                        $('#CollateralDetail').empty();
                        $('#CollateralDetail').append('<option value="A03108">A03108</option>');
                        $('#CollateralDetail').append('<option value="A00104">A00104</option>');
                        $('#CollateralDetail').append('<option value="A04102">A04102</option>');
                        $('#CollateralDetail').append('<option value="A03107">A03107</option>');
                        $('#CollateralDetail').append('<option value="A03114">A03114</option>');
                        Discount = TWDBondPCT
                     }
                     DiscountAmount = $("#CollateralAmount").val() * Discount
            }

            var selectCollateralType=document.getElementById("CollateralType")
            selectCollateralType.onchange=function(){
                     CollateralType=this.options[this.selectedIndex].value;
                     if (Curr == "USD" & CollateralType =="Cash") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="USD">USD</option>');
                         Discount = USDCashPCT
                     }
                     if (Curr == "TWD" & CollateralType =="Cash") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="TWD">TWD</option>');
                         Discount = TWDCashPCT
                     }
                     if (Curr == "USD" & CollateralType =="Bond") {
                         $('#CollateralDetail').empty();
                         $('#CollateralDetail').append('<option value="US46625HJZ47">US46625HJZ47</option>');
                         $('#CollateralDetail').append('<option value="US71647NAM11">US71647NAM11</option>');
                         $('#CollateralDetail').append('<option value="XS11335850562">XS11335850562</option>');
                         $('#CollateralDetail').append('<option value="US25152RXA66">US25152RXA66</option>');
                         $('#CollateralDetail').append('<option value="BBG00FYBLQH5">BBG00FYBLQH5</option>');
                         Discount = USDBondPCT
                     }
                     if (Curr == "TWD" & CollateralType =="Bond") {
                        $('#CollateralDetail').empty();
                        $('#CollateralDetail').append('<option value="A03108">A03108</option>');
                        $('#CollateralDetail').append('<option value="A00104">A00104</option>');
                        $('#CollateralDetail').append('<option value="A04102">A04102</option>');
                        $('#CollateralDetail').append('<option value="A03107">A03107</option>');
                        $('#CollateralDetail').append('<option value="A03114">A03114</option>');
                        Discount = TWDBondPCT
                     }
                     DiscountAmount = $("#CollateralAmount").val() * Discount
            }

            var inputCollateralAmount=document.getElementById("CollateralAmount")
            inputCollateralAmount.onchange=function(){
                 DiscountAmount = $("#CollateralAmount").val() * Discount
            }


            $.ajax({
                type: "POST",
                url: site + "/users",
                dataType: "json",
                data: {
                    username: "Jim",
                    orgName: "Org1"
                },
                success: function (data) {
                    if (data.success) {
                        //$("#dvPostResult").html(data.message);
                        $("#token").val(data.token);
                    } else {
                        $("#dvPostResult").html(data.message);
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            })

            //寫入CollateralDetail
            $("#update").click(function () {
                if ($('#UnderMarginCall').val() != "0") {
                    alert("MarginCall品金額不足!");
                    return;
                }

                var data = $table.bootstrapTable('getData');


                $.each(data, function(index, value) {
                     Currarr.push(value.Curr);
                     CollateralTypearr.push(value.CollateralType);
                     CollateralDetailarr.push(value.CollateralDetail);
                     Amountarr.push(value.CollateralAmount);
                     Discountarr.push(value.Discount);
                     DiscountAmountarr.push(value.DiscountAmount);
                     arrlength = arrlength + 1 ;
                });

                var defer = $.Deferred();
                defer.resolve();
                $.each(Currarr,function(i,e){
                defer = defer.then(function () {
                    data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "CreateCollateralDetail","args": ["' + $("#txday").val() + '","' + $("#OwnCpty").val() + '","' + $("#Cpty").val() + '","' + Currarr[recordnum] + '","' + CollateralTypearr[recordnum] + '","' + CollateralDetailarr[recordnum] + '","' + Amountarr[recordnum] + '","' + Discountarr[recordnum] + '","' + DiscountAmountarr[recordnum] + '","' + $("#txid").val() + '"]}'

                    // 使用 ajax() 來呼叫 REST API
                    return $.ajax({
                        url: site + "/channels/mychannel/chaincodes/mycc",
                        type: "POST",
                        data: data,
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        complete: function (data, textStatus, jqXHR) {
                            console.log(textStatus);
                        },
                        success: function (data1) {
                            console.log(data);
                            recordnum = recordnum + 1
                            $("#dvPostResult").html('交易TXID:<br/><b>' + data1 + '</b>');
                        },
                        error: function (jqXHR) {
                            alert("發生錯誤: " + jqXHR.status);
                            console.log(jqXHR);
                        },
                        //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                        }
                    }) //ajax
                 }); //defer
               }); //each
               defer.done(function(){

               });

               // Update TXStatus = "Finished"
               data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "UpdateFXTradeCollateral","args": ["' + $("#txid").val() + '","Finished"]}'
               //alert(data);
               // 使用 ajax() 來呼叫 REST API
               $.ajax({
                    url: site + "/channels/mychannel/chaincodes/mycc",
                    type: "POST",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                        // Update CptyAsset & Insert CashFlow
                        // 使用 ajax() 來呼叫 REST API Step2：取得要計算交易單號
                        $.ajax({
                                type: "GET",
                                url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryFXTradeCollateral&args=%5B%22" + $("#txday").val() + "%22%2C%22" + $("#txid").val() + "%22%5D",
                                dataType: "html",
                                success: function (data2) {
                                    console.log(data2);
                                    var data1 = data2.replace(' now has', '');
                                    var data2 = data2.replace(' after the move', '');
                                    var json = JSON.parse(data2);

                                    var recordnum = 0;
                                    console.log(json);

                                    $("#dvPostResult").html("2.Transactions loaded successfully.");

                                    for (i = 0; i < json.length; i++) {
                                        TXIDarr.push(json[i].Key);
                                    }

                                    each(0);

                                },

                                error: function (jqXHR) {
                                    alert("發生錯誤: " + jqXHR.status);
                                    console.log(jqXHR);
                                },
                                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                                    beforeSend: function (xhr, settings) {
                                    xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                                }
                        });   //$.ajax({

                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                        console.log(jqXHR);
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                    }
               });



            })  //update

            $("#search").click(function () {
                //alert(site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDCollateral&args=%5B%22" + $("#txid").val() + "%22%5D")
                $.ajax({
                    type: "GET",
                    url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDCollateral&args=%5B%22" + $("#txid").val() + "%22%5D",
                    dataType: "html",
                    success: function (data) {
                        console.log(data)
                        var data1 = data.replace(' now has', '');
                        var data2 = data1.replace(' after the move', '');
                        //$('#bank').html("")
                        var json = JSON.parse(data2);
                        console.log(json);
                        $("#dvPostResult").html(json.docType + " loaded successfully.");

                        $("#txday").val(json.TXDATE);
                        $("#OwnCpty").val(json.OwnCptyID);
                        $("#Cpty").val(json.CptyID);
                        $("#MarginCall").val(Math.abs(json.MarginCall));
                        $('#UnderMarginCall').val(Math.abs(json.MarginCall));

                        //alert(site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryCptyISDAByCpty&args=%5B%22" + json.OwnCptyID + "%22%2C%22" + json.CptyID + "%22%5D")
                        $.ajax({
                            type: "GET",
                            url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryCptyISDAByCpty&args=%5B%22" + json.OwnCptyID + "%22%2C%22" + json.CptyID + "%22%5D",
                            dataType: "html",
                            success: function (data) {
                                console.log(data);
                                var data1 = data.replace(' now has', '');
                                var data2 = data1.replace(' after the move', '');
                                //$('#bonds').html("")
                                var datas = [];

                                var json = JSON.parse(data2);
                                console.log(json);
                                $("#dvPostResult").html("Transactions loaded successfully.");
                                for (i = 0; i < json.length; i++) {
                                    USDCashPCT = json[i].Record.USDCashPCT;
                                    TWDCashPCT = json[i].Record.TWDCashPCT;
                                    USDBondPCT = json[i].Record.USDBondPCT;
                                    TWDBondPCT = json[i].Record.TWDBondPCT;
                                }
                         },
                         error: function (jqXHR) {
                            alert("發生錯誤: " + jqXHR.status);
                            console.log(jqXHR);
                         },
                         //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                         beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                        })

                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                        console.log(jqXHR);
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                })



            })  // $("#search").click(function ()

            //Update CptyAsset & Insert CashFlow
            function each(recordnum){

                    dataMTM = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "CollateralSettlment","args": ["' + $("#txday").val() + '","' + TXIDarr[recordnum] + '"]}'
                    // 使用 ajax() 來呼叫 REST API

                    $.ajax({
                         url: site + "/channels/mychannel/chaincodes/mycc",
                         type: "POST",
                         data: dataMTM,
                         contentType: "application/json; charset=utf-8",
                         complete: function (data3, textStatus, jqXHR) {
                                console.log(textStatus);
                         },
                         success: function (data3, textStatus, jqXHR) {
                                console.log(data3);

                                if (recordnum < TXIDarr.length) each(recordnum+1);

                                if (recordnum < TXIDarr.length) $("#dvPostResult").html("3.Insert Transactions " + (recordnum+1) + "/" + TXIDarr.length +" loaded successfully.");

                                if (recordnum == TXIDarr.length-1) {
                                    swal({
                                         title: "交易成功!",
                                         text: "",
                                         icon: "success",
                                         button: "確定",
                                    });
                                }
                         },
                         error: function (jqXHR) {
                               alert("發生錯誤: " + jqXHR.status);
                               console.log(jqXHR);
                         },
                         //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                         beforeSend: function (xhr, settings) {
                                  xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                         }
                      });

            } //function

        }); //document



</script>
}