@page
@model ASPNetRazorPageDemo.Pages.SettlmentFXTradeModel
@{
    ViewData["Title"] = "交易交割";
    ViewData["TODAY"] = DateTime.Now.ToString("yyyyMMdd");
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divReadBankTX">
    <div class="form-group">
        <label for="txday">交易日期：</label>
        <input type="text" id="txday" size="10" value='@ViewData["TODAY"]' placeholder="交易日">
        <button id="create">交割</button>
    </div>
    <br />
    <br />
    <div id="reportTableDiv">
        <table id="reportTable"></table>
    </div>
</div>
<br />
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>
<div id="dvPostResult" style="font-size:16pt"></div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            var site = gSite;

            $.ajax({
                type: "POST",
                url: site + "/users",
                dataType: "json",
                data: {
                    username: "Jim",
                    orgName: "Org1"
                },
                success: function (data) {
                    if (data.success) {
                        //$("#dvPostResult").html(data.message);
                        $("#token").val(data.token);
                    } else {
                        $("#dvPostResult").html(data.message);
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            })


            //var now = new Date();
            //var today = now.getFullYear() + '/' + ((now.getMonth() + 1)<10 ? '0' : '')+((now.getMonth() + 1)) + '/' +  (now.getDate()<10 ? '0' : '')+now.getDate();
            //$('#txday').val(today);

            $("#create").click(function () {
                //peer chaincode invoke -n mycc -c '{"Args":["FXTradeSettlment", "20181201"]}' -C myc

                data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "FXTradeSettlment","args": ["' + $("#txday").val() + '"]}'
                //alert(data);
                // 使用 ajax() 來呼叫 REST API
                $.ajax({
                    url: site + "/channels/mychannel/chaincodes/mycc",
                    type: "POST",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    complete: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                        swal({
                            title: "交易成功!",
                            text: "",
                            icon: "success",
                            button: "確定",
                        });
                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                        console.log(jqXHR);
                    },
                    //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val());
                    }
                });
            })
        });
</script>
}