@page
@model ASPNetRazorPageDemo.Pages.UpdateFXTradeModel
@{
    ViewData["Title"] = "修改FX交易";
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divUpdateFXTrade">
    <div class="form-group">
        <label for="txid">交易序號：</label>
        <input type="text" id="txid" value="" size="47" placeholder="交易序號0002S20180903060425">
        <br />
    </div>
    <div class="form-group">
        <label for="txday">交易日期：</label>
        <input type="text" id="txday" size="16" placeholder="YYYYMMDD"/>
        <button id="search">交易查詢</button>
        <br />
    </div>
    <br />
    <div class="form-group">
        <label for="OwnCpty" class="col-sm-2">Cpty：</label>
        <select id="OwnCpty">
            <option value="BANK1">BANK1</option>
            <option value="BANK2">BANK2</option>
            <option value="BANK3">BANK3</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="Cpty" class="col-sm-2">交易對手：</label>
        <select id="Cpty">
            <option value="BANK1">BANK1</option>
            <option value="BANK2">BANK2</option>
            <option value="BANK3">BANK3</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="TXKinds" class="col-sm-2">交易種類：</label>
        <input type="text" id="TXKinds" value="" size="10" placeholder="交易種類">
        <br />
    </div>
    <div class="form-group">
        <label for="TradeDate" class="col-sm-2">TradeDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker1'>
            <input class="form-control input-small" id="TradeDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="MaturityDate" class="col-sm-2">MaturityDate：</label>
        <div class="input-group date form_date col-sm-2" id='datetimepicker2'>
            <input class="form-control input-small" id="MaturityDate" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="Contract" class="col-sm-2">Contract：</label>
        <select id="Contract">
            <Option value="AUD/HKD">AUD/HKD</Option>
            <Option value="AUD/TWD">AUD/TWD</Option>
            <Option value="AUD/USD">AUD/USD</Option>
            <Option value="CAD/HKD">CAD/HKD</Option>
            <Option value="CAD/TWD">CAD/TWD</Option>
            <Option value="CHF/HKD">CHF/HKD</Option>
            <Option value="CHF/TWD">CHF/TWD</Option>
            <Option value="CNY/HKD">CNY/HKD</Option>
            <Option value="CNY/TWD">CNY/TWD</Option>
            <Option value="EUR/AUD">EUR/AUD</Option>
            <Option value="EUR/CNY">EUR/CNY</Option>
            <Option value="EUR/GBP">EUR/GBP</Option>
            <Option value="EUR/HKD">EUR/HKD</Option>
            <Option value="EUR/JPY">EUR/JPY</Option>
            <Option value="EUR/TWD">EUR/TWD</Option>
            <Option value="EUR/USD">EUR/USD</Option>
            <Option value="EUR/ZAR">EUR/ZAR</Option>
            <Option value="GBP/HKD">GBP/HKD</Option>
            <Option value="GBP/JPY">GBP/JPY</Option>
            <Option value="GBP/TWD">GBP/TWD</Option>
            <Option value="GBP/USD">GBP/USD</Option>
            <Option value="HKD/JPY">HKD/JPY</Option>
            <Option value="HKD/TWD">HKD/TWD</Option>
            <Option value="JPY/TWD">JPY/TWD</Option>
            <Option value="MYR/HKD">MYR/HKD</Option>
            <Option value="MYR/TWD">MYR/TWD</Option>
            <Option value="NZD/HKD">NZD/HKD</Option>
            <Option value="NZD/TWD">NZD/TWD</Option>
            <Option value="NZD/USD">NZD/USD</Option>
            <Option value="PHP/TWD">PHP/TWD</Option>
            <Option value="SEK/TWD">SEK/TWD</Option>
            <Option value="SGD/HKD">SGD/HKD</Option>
            <Option value="SGD/TWD">SGD/TWD</Option>
            <Option value="THB/HKD">THB/HKD</Option>
            <Option value="USD/BRL">USD/BRL</Option>
            <Option value="USD/CAD">USD/CAD</Option>
            <Option value="USD/CHF">USD/CHF</Option>
            <Option value="USD/CNY">USD/CNY</Option>
            <Option value="USD/HKD">USD/HKD</Option>
            <Option value="USD/INR">USD/INR</Option>
            <Option value="USD/JPY">USD/JPY</Option>
            <Option value="USD/KRW">USD/KRW</Option>
            <Option value="USD/MOP">USD/MOP</Option>
            <Option value="USD/MYR">USD/MYR</Option>
            <Option value="USD/PHP">USD/PHP</Option>
            <Option value="USD/SEK">USD/SEK</Option>
            <Option value="USD/SGD">USD/SGD</Option>
            <Option value="USD/THB">USD/THB</Option>
            <Option value="USD/TWD">USD/TWD</Option>
            <Option value="USD/ZAR">USD/ZAR</Option>
            <Option value="ZAR/HKD">ZAR/HKD</Option>
            <Option value="ZAR/TWD">ZAR/TWD</Option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="BuyCurr" class="col-sm-2">Buy：</label>
        <select id="BuyCurr">
            <Option value="AUD">AUD</Option>
            <Option value="CAD">CAD</Option>
            <Option value="CHF">CHF</Option>
            <Option value="CNY">CNY</Option>
            <Option value="EUR">EUR</Option>
            <Option value="GBP">GBP</Option>
            <Option value="HKD">HKD</Option>
            <Option value="JPY">JPY</Option>
            <Option value="MYR">MYR</Option>
            <Option value="NZD">NZD</Option>
            <Option value="PHP">PHP</Option>
            <Option value="SEK">SEK</Option>
            <Option value="SGD">SGD</Option>
            <Option value="THB">THB</Option>
            <Option value="TWD">TWD</Option>
            <Option value="USD">USD</Option>
            <Option value="ZAR">ZAR</Option>
        </select>
        <input type="text" id="BuyCurrAmt" value="" size="10" placeholder="BuyCurrAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="SellCurr" class="col-sm-2">Sell：</label>
        <select id="SellCurr">
            <Option value="AUD">AUD</Option>
            <Option value="BRL">BRL</Option>
            <Option value="CAD">CAD</Option>
            <Option value="CHF">CHF</Option>
            <Option value="CNY">CNY</Option>
            <Option value="GBP">GBP</Option>
            <Option value="HKD" selected>HKD</Option>
            <Option value="INR">INR</Option>
            <Option value="JPY">JPY</Option>
            <Option value="KRW">KRW</Option>
            <Option value="MOP">MOP</Option>
            <Option value="MYR">MYR</Option>
            <Option value="PHP">PHP</Option>
            <Option value="SEK">SEK</Option>
            <Option value="SGD">SGD</Option>
            <Option value="THB">THB</Option>
            <Option value="TWD">TWD</Option>
            <Option value="USD">USD</Option>
            <Option value="ZAR">ZAR</Option>
        </select>
        <input type="text" id="SellCurrAmt" value="" size="10" placeholder="SellCurrAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="NetPrice" class="col-sm-2">NetPrice：</label>
        <input type="text" id="NetPrice" value="" size="10" placeholder="合約價">
        <br />
    </div>
    <div class="col-sm">
        <button id="update">修改</button>
        <button id="del">刪除</button>
        <br />
    </div>
    <br />
</div>
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>

<div id="dvPostResult" style="font-size:16pt">
</div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" language="JavaScript">$(document).ready(function () {
        var site = gSite;

        $.ajax({
            type: "POST",
            url: site + "/users",
            dataType: "json",
            data: {
                username: "Jim",
                orgName: "Org1"
            },
            success: function (data) {
                if (data.success) {
                    //$("#dvPostResult").html(data.message);
                    $("#token").val(data.token);
                } else {
                    $("#dvPostResult").html(data.message);
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        })

        $('#datetimepicker1').datetimepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
            todayBtn: true,
            minView: 2,
            viewSelect: 'year',
            startView: 2,
            autoclose: true,
            bootcssVer: 3,
            keepOpen: false,
            defaultDate: new Date()
        });

        $('#datetimepicker2').datetimepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
            todayBtn: true,
            minView: 2,
            viewSelect: 'year',
            startView: 2,
            autoclose: true,
            bootcssVer: 3,
            keepOpen: false,
            defaultDate: new Date()
        });


        //peer chaincode invoke -n mycc -c '{"Args":["CorrectFXTradeTransfer", "B","BANK1","BANK2","2018/09/01","2018/11/30","USD/TWD","USD","1000000","ZAR","1000000","30","true","BANK1B20180906123212"]}' -C myc
        $("#update").click(function () {
            var TXType;
            if ($("#Contract").val().substring(0, 3) == $("#BuyCurr").val()) {
                TXType = "B";
                Curr1 = $("#BuyCurr").val();
                Amount1 = $("#BuyCurrAmt").val();
                Curr2 = $("#SellCurr").val();
                Amount2 = $("#SellCurrAmt").val();
            }
            else {
                TXType = "S";
                Curr1 = $("#SellCurr").val();
                Amount1 = $("#SellCurrAmt").val();
                Curr2 = $("#BuyCurr").val();
                Amount2 = $("#BuyCurrAmt").val();
            }
            data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "CorrectFXTradeTransfer","args": ["' + TXType + '","' + $("#OwnCpty").val() + '","' + $("#Cpty").val() + '","' + $("#TradeDate").val() + '","' + $("#MaturityDate").val() + '","' + $("#Contract").val() + '","' + Curr1 + '","' + Amount1 + '","' + Curr2 + '","' + Amount2 + '","' + $("#NetPrice").val() + '" ,"' + $("#TXKinds").val() + '", "true","' + $("#txid").val() + '"]}'
            //alert(data);
            var MatchedTXID = ""
            var TXHcode = ""
            // 使用 ajax() 來呼叫 REST API
            $.ajax({
                url: site + "/channels/mychannel/chaincodes/mycc",
                type: "POST",
                data: data,
                contentType: "application/json; charset=utf-8",
                complete: function (data, textStatus, jqXHR) {
                    console.log(textStatus);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                    swal({
                        title: "交易成功!",
                        text: "",
                        icon: "success",
                        button: "確定",
                    });

                    $.ajax({
                        type: "GET",
                        url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDTransactions&args=%5B%22" + $("#txid").val() + "%22%5D",
                        dataType: "html",
                        success: function (data) {
                            var data1 = data.replace(' now has', '');
                            var data2 = data1.replace(' after the move', '');
                            var datas = [];

                            $('#reportTable').html("");
                            $('#reportTable').bootstrapTable('destroy');

                            var json = JSON.parse(data2);
                            TXDAY = $('#txday').val()
                            TXID = json.TXID
                            TXHcode = json.TXHcode
                            console.log(json);
                            $("#dvPostResult").html(json.docType + " loaded successfully.");

                            if (json.TXType == "B") {
                                BuyCurr = json.Curr1
                                BuyAmount = json.Amount1
                                SellCurr = json.Curr2
                                SellAmount = json.Amount2
                            }
                            if (json.TXType == "S") {
                                SellCurr = json.Curr1
                                SellAmount = json.Amount1
                                BuyCurr = json.Curr2
                                BuyAmount = json.Amount2
                            }

                            datas[0] = {
                                "TXID": json.TXID,
                                "OwnCptyID": json.OwnCptyID,
                                "CptyID": json.CptyID,
                                "TradeDate": json.TradeDate,
                                "MaturityDate": json.MaturityDate,
                                "Contract": json.Contract,
                                "TXType": json.TXType,
                                "TXKinds": json.TXKinds,
                                "BuyCurr": BuyCurr,
                                "BuyAmount": BuyAmount,
                                "SellCurr": SellCurr,
                                "SellAmount": SellAmount,
                                "NetPrice": json.NetPrice,
                                "TXStatus": formatTXStatus(json.TXStatus),
                                "TXMemo": json.TXMemo,
                                "TXHcode": json.TXHcode,
                                "MatchedTXID": json.MatchedTXID,
                                "createTime": json.CreateTime,
                                "updateTime": json.UpdateTime
                            }

                            $('#reportTable').bootstrapTable({
                                method: 'get',
                                cache: false,
                                striped: true,
                                pagination: true,
                                pageSize: 5,
                                pageNumber: 1,
                                pageList: [5, 10, 20, 50, 100, 200, 500], sidePagination: 'client',
                                search: true,
                                showColumns: true,
                                showRefresh: false,
                                showExport: false,
                                exportTypes: ['csv', 'txt', 'xml'],
                                search: true,
                                clickToSelect: true,
                                columns:
                                    [
                                        { field: "TXID", title: "交易<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                        { field: "OwnCptyID", title: "OwnCptyID<br/>", align: "left", valign: "middle", sortable: "true" },
                                        { field: "CptyID", title: "交易對手 <br/>", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TradeDate", title: "交易日<br/>", align: "left", valign: "middle", sortable: "true" },
                                        { field: "MaturityDate", title: "到期日<br/>", align: "left", valign: "middle", sortable: "true" },
                                        { field: "Contract", title: "Contract", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TXType", title: "B/S", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TXKinds", title: "TXKinds", align: "left", valign: "middle", sortable: "true" },
                                        { field: "BuyCurr", title: "BuyCurr", align: "left", valign: "middle", sortable: "true" },
                                        { field: "BuyAmount", title: "BuyAmount", align: "left", valign: "middle", sortable: "true" },
                                        { field: "SellCurr", title: "SellCurr", align: "left", valign: "middle", sortable: "true" },
                                        { field: "SellAmount", title: "SellAmount", align: "left", valign: "middle", sortable: "true" },
                                        { field: "NetPrice", title: "NetPrice", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TXStatus", title: "交易<br/>狀態", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TXMemo", title: "交易說明", align: "left", valign: "middle", sortable: "true" },
                                        { field: "TXHcode", title: "原交易<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                        { field: "MatchedTXID", title: "比對<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                        { field: "createTime", title: "建立<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                        { field: "updateTime", title: "修改<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                    ],
                                data: datas,
                            });


                            data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "updateQueuedTransactionHcode","args": ["' + TXDAY + '","' + TXID + '","' + TXHcode + '"]}'
                            //alert(data)
                            // 使用 ajax() 來呼叫 REST API
                            $.ajax({
                                url: site + "/channels/mychannel/chaincodes/mycc",
                                type: "POST",
                                data: data,
                                contentType: "application/json; charset=utf-8",
                                complete: function (data, textStatus, jqXHR) {
                                    console.log(textStatus);
                                },
                                success: function (data, textStatus, jqXHR) {
                                    console.log(data);
                                    $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');
                                    if (TXHcode != "") {
                                        $.ajax({
                                            type: "GET",
                                            url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDTransactions&args=%5B%22" + TXHcode + "%22%5D",
                                            dataType: "html",
                                            success: function (data) {
                                                var data1 = data.replace(' now has', '');
                                                var data2 = data1.replace(' after the move', '');
                                                //$('#bank').html("")
                                                $('#reportTable').bootstrapTable('destroy');

                                                var json = JSON.parse(data2);
                                                console.log(json);
                                                $("#dvPostResult").html(json.docType + " loaded successfully.");

                                                if (json.TXType == "B") {
                                                    BuyCurr = json.Curr1
                                                    BuyAmount = json.Amount1
                                                    SellCurr = json.Curr2
                                                    SellAmount = json.Amount2
                                                }
                                                if (json.TXType == "S") {
                                                    SellCurr = json.Curr1
                                                    SellAmount = json.Amount1
                                                    BuyCurr = json.Curr2
                                                    BuyAmount = json.Amount2
                                                }


                                                if (json.TXID != "") {
                                                    //$('#bank').append(htmlCode);
                                                    datas[1] = {
                                                        "TXID": json.TXID,
                                                        "OwnCptyID": json.OwnCptyID,
                                                        "CptyID": json.CptyID,
                                                        "TradeDate": json.TradeDate,
                                                        "MaturityDate": json.MaturityDate,
                                                        "Contract": json.Contract,
                                                        "TXType": json.TXType,
                                                        "TXKinds": json.TXKinds,
                                                        "BuyCurr": BuyCurr,
                                                        "BuyAmount": BuyAmount,
                                                        "SellCurr": SellCurr,
                                                        "SellAmount": SellAmount,
                                                        "NetPrice": json.NetPrice,
                                                        "TXStatus": formatTXStatus(json.TXStatus),
                                                        "TXMemo": json.TXMemo,
                                                        "TXHcode": json.TXHcode,
                                                        "MatchedTXID": json.MatchedTXID,
                                                        "createTime": json.CreateTime,
                                                        "updateTime": json.UpdateTime
                                                    }

                                                    $('#reportTable').bootstrapTable({
                                                        method: 'get',
                                                        cache: false,
                                                        striped: true,
                                                        pagination: true,
                                                        pageSize: 5,
                                                        pageNumber: 1,
                                                        pageList: [5, 10, 20, 50, 100, 200, 500], sidePagination: 'client',
                                                        search: true,
                                                        showColumns: true,
                                                        showRefresh: false,
                                                        showExport: false,
                                                        exportTypes: ['csv', 'txt', 'xml'],
                                                        search: true,
                                                        clickToSelect: true,
                                                        columns:
                                                            [
                                                                { field: "OwnCptyID", title: "OwnCptyID<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "CptyID", title: "交易對手 <br/>", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TradeDate", title: "交易日<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "MaturityDate", title: "到期日<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "Contract", title: "Contract", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TXType", title: "B/S", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TXKinds", title: "TXKinds", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "BuyCurr", title: "BuyCurr", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "BuyAmount", title: "BuyAmount", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "SellCurr", title: "SellCurr", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "SellAmount", title: "SellAmount", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "NetPrice", title: "NetPrice", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TXStatus", title: "交易<br/>狀態", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TXMemo", title: "交易說明", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "TXHcode", title: "原交易<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "MatchedTXID", title: "比對<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "createTime", title: "建立<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                                                { field: "updateTime", title: "修改<br/>時間", align: "left", valign: "middle", sortable: "true" },

                                                            ],
                                                        data: datas,
                                                    });

                                                }
                                                if (json.MatchedTXID != "") {
                                                    $.ajax({
                                                        type: "GET",
                                                        url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDTransactions&args=%5B%22" + MatchedTXID + "%22%5D",
                                                        dataType: "html",
                                                        success: function (data) {
                                                            var data1 = data.replace(' now has', '');
                                                            var data2 = data1.replace(' after the move', '');
                                                            //$('#bank').html("")
                                                            $('#reportTable').bootstrapTable('destroy');

                                                            var json = JSON.parse(data2);
                                                            console.log(json);
                                                            $("#dvPostResult").html(json.docType + " loaded successfully.");

                                                            if (json.TXType == "B") {
                                                                BuyCurr = json.Curr1
                                                                BuyAmount = json.Amount1
                                                                SellCurr = json.Curr2
                                                                SellAmount = json.Amount2
                                                            }
                                                            if (json.TXType == "S") {
                                                                SellCurr = json.Curr1
                                                                SellAmount = json.Amount1
                                                                BuyCurr = json.Curr2
                                                                BuyAmount = json.Amount2
                                                            }
                                                            if (json.TXID != "") {
                                                                //$('#bank').append(htmlCode);
                                                                datas[2] = {
                                                                    "TXID": json.TXID,
                                                                    "OwnCptyID": json.OwnCptyID,
                                                                    "CptyID": json.CptyID,
                                                                    "TradeDate": json.TradeDate,
                                                                    "MaturityDate": json.MaturityDate,
                                                                    "Contract": json.Contract,
                                                                    "TXType": json.TXType,
                                                                    "TXKinds": json.TXKinds,
                                                                    "BuyCurr": BuyCurr,
                                                                    "BuyAmount": BuyAmount,
                                                                    "SellCurr": SellCurr,
                                                                    "SellAmount": SellAmount,
                                                                    "NetPrice": json.NetPrice,
                                                                    "TXStatus": formatTXStatus(json.TXStatus),
                                                                    "TXMemo": json.TXMemo,
                                                                    "TXHcode": json.TXHcode,
                                                                    "MatchedTXID": json.MatchedTXID,
                                                                    "createTime": json.CreateTime,
                                                                    "updateTime": json.UpdateTime
                                                                }

                                                                $('#reportTable').bootstrapTable({
                                                                    method: 'get',
                                                                    cache: false,
                                                                    striped: true,
                                                                    pagination: true,
                                                                    pageSize: 5,
                                                                    pageNumber: 1,
                                                                    pageList: [5, 10, 20, 50, 100, 200, 500], sidePagination: 'client',
                                                                    search: true,
                                                                    showColumns: true,
                                                                    showRefresh: false,
                                                                    showExport: false,
                                                                    exportTypes: ['csv', 'txt', 'xml'],
                                                                    search: true,
                                                                    clickToSelect: true,
                                                                    columns:
                                                                        [
                                                                            { field: "OwnCptyID", title: "OwnCptyID<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "CptyID", title: "交易對手 <br/>", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TradeDate", title: "交易日<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "MaturityDate", title: "到期日<br/>", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "Contract", title: "Contract", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TXType", title: "B/S", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TXKinds", title: "TXKinds", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "BuyCurr", title: "BuyCurr", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "BuyAmount", title: "BuyAmount", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "SellCurr", title: "SellCurr", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "SellAmount", title: "SellAmount", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "NetPrice", title: "NetPrice", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TXStatus", title: "交易<br/>狀態", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TXMemo", title: "交易說明", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "TXHcode", title: "原交易<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "MatchedTXID", title: "比對<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "createTime", title: "建立<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                                                            { field: "updateTime", title: "修改<br/>時間", align: "left", valign: "middle", sortable: "true" },

                                                                        ],
                                                                    data: datas,
                                                                });

                                                            }



                                                        },
                                                        error: function (jqXHR) {
                                                            alert("發生錯誤: " + jqXHR.status);
                                                            console.log(jqXHR);
                                                        },
                                                        //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                                                        beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                                                    })

                                                }



                                            },
                                            error: function (jqXHR) {
                                                alert("發生錯誤: " + jqXHR.status);
                                                console.log(jqXHR);
                                            },
                                            //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                                            beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                                        })

                                    }


                                },
                                error: function (jqXHR) {
                                    alert("發生錯誤: " + jqXHR.status);
                                    console.log(jqXHR);
                                },
                                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                            });

                        },
                        error: function (jqXHR) {
                            alert("發生錯誤: " + jqXHR.status);
                            console.log(jqXHR);
                        },
                        //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                        beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                    })


                },
                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
            });
        })

        $("#search").click(function () {
            //alert(site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDTransactions&args=%5B%22" + $("#txid").val() + "%22%5D")
            $.ajax({
                type: "GET",
                url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryTXIDTransactions&args=%5B%22" + $("#txid").val() + "%22%5D",
                dataType: "html",
                success: function (data) {
                    console.log(data)
                    var data1 = data.replace(' now has', '');
                    var data2 = data1.replace(' after the move', '');
                    //$('#bank').html("")
                    var json = JSON.parse(data2);
                    console.log(json);
                    $("#dvPostResult").html(json.docType + " loaded successfully.");

                    $("#txday").val(json.TXID.substr(6, 8));
                    $("#OwnCpty").val(json.OwnCptyID);
                    $("#Cpty").val(json.CptyID);
                    $("#TradeDate").val(json.TradeDate);
                    $("#MaturityDate").val(json.MaturityDate);
                    $("#TXKinds").val(json.TXKinds);
                    $("#Contract").val(json.Contract);
                    $("#BuyCurr").val(json.Curr1);
                    $("#BuyCurrAmt").val(json.Amount1);
                    $("#SellCurr").val(json.Curr2);
                    $("#SellCurrAmt").val(json.Amount2);
                    $("#NetPrice").val(json.NetPrice);
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                    console.log(jqXHR);
                },
                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
            })
        })
    });</script>
}