@page
@model ASPNetRazorPageDemo.Pages.UpdateCptyISDAModel
@{
    ViewData["Title"] = "修改CptyISDA";
}
<div id="divEnroll">
    <input type="hidden" id="token" value="">
</div>
<div id="divUpdateFXTrade">
    <div class="form-group">
        <label for="txid">交易序號：</label>
        <input type="text" id="txid" value="" size="47" placeholder="交易序號BANK1BANK220181124020917">
        <button id="search">資料查詢</button>
        <br />
    </div>
    <br />
    <div class="form-group">
        <label for="OwnCpty" class="col-sm-2">Cpty：</label>
        <select id="OwnCpty" class="col-sm-2">
            <option value="BANK1">BANK1</option>
            <option value="BANK2">BANK2</option>
            <option value="BANK3">BANK3</option>
        </select>
        <label for="Cpty" class="col-sm-2">交易對手：</label>
        <select id="Cpty" class="col-sm-2">
            <option value="BANK1">BANK1</option>
            <option value="BANK2">BANK2</option>
            <option value="BANK3">BANK3</option>
        </select>
        <br />
    </div>
    <div class="form-group">
        <label for="CptyIndependAmt" class="col-sm-2">交易對手獨提列：</label>
        <input class="col-sm-2" type="text" id="CptyIndependAmt" value="" size="10" placeholder="CptyIndependAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="OwnIndependAmt" class="col-sm-2">本行獨提列金額：</label>
        <input class="col-sm-2" type="text" id="OwnIndependAmt" value="" size="10" placeholder="OwnIndependAmt">
        <br />
    </div>
    <div class="form-group">
        <label for="CptyThreshold" class="col-sm-2">交易對手門檻金額：</label>
        <input class="col-sm-2" type="text" id="CptyThreshold" value="" size="10" placeholder="CptyThreshold">
        <br />
    </div>
    <div class="form-group">
        <label for="OwnThreshold" class="col-sm-2">本行門鑑金額：</label>
        <input class="col-sm-2" type="text" id="OwnThreshold" value="" size="10" placeholder="OwnThreshold">
        <br />
    </div>
    <div class="form-group">
        <label for="CptyMTA" class="col-sm-2">交易對手最低轉讓：</label>
        <input class="col-sm-2" type="text" id="CptyMTA" value="" size="10" placeholder="CptyMTA">
        <br />
    </div>
    <div class="form-group">
        <label for="OwnMTA" class="col-sm-2">本行最低轉讓金額：</label>
        <input class="col-sm-2" type="text" id="OwnMTA" value="" size="10" placeholder="OwnMTA">
        <br />
    </div>
    <div class="form-group">
        <label for="StartDate" class="col-sm-2">StartDate：</label>
        <input class="col-sm-2" type="text" id="StartDate" value="" size="10" placeholder="StartDate">
        <label for="EndDate" class="col-sm-2">EndDate：</label>
        <input class="col-sm-2" type="text" id="EndDate" value="" size="10" placeholder="EndDate">
        <br />
    </div>
    <div class="form-group">
        <label for="USDCashPCT" class="col-sm-2">USDCash折扣率：</label>
        <input class="col-sm-2" type="text" id="USDCashPCT" value="" size="10" placeholder="USDCashPCT">
        <label for="TWDCashPCT" class="col-sm-2">TWDCash折扣率：</label>
        <input class="col-sm-2" type="text" id="TWDCashPCT" value="" size="10" placeholder="TWDCashPCT">
        <br />
    </div>
    <div class="form-group">
        <label for="USDBondPCT" class="col-sm-2">USDBond折扣率：</label>
        <input class="col-sm-2" type="text" id="USDBondPCT" value="" size="10" placeholder="USDBondPCT">
        <label for="TWDBondPCT" class="col-sm-2">TWDBond折扣率：</label>
        <input class="col-sm-2" type="text" id="TWDBondPCT" value="" size="10" placeholder="TWDBondPCT">
        <br />
    </div>
    <div class="col-sm">
        <button id="update">修改</button>
        <button id="del">刪除</button>
        <br />
    </div>
    <br />
</div>
<br />
@Html.AntiForgeryToken()
<h2 style="color:brown;">執行結果</h2>

<div id="dvPostResult" style="font-size:16pt">
</div>
<h5>@Model.Message</h5>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" language="JavaScript">$(document).ready(function () {
        var site = gSite;

        $.ajax({
            type: "POST",
            url: site + "/users",
            dataType: "json",
            data: {
                username: "Jim",
                orgName: "Org1"
            },
            success: function (data) {
                if (data.success) {
                    //$("#dvPostResult").html(data.message);
                    $("#token").val(data.token);
                } else {
                    $("#dvPostResult").html(data.message);
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        })

        //peer chaincode invoke -n mycc -c '{"Args":["BANK1","BANK2","0","0","25500000","8000000","3000000","500000","100000","2018/01/01","2020/12/31","1","0.95","0.96","0.89","0001000320180923051259"]}' -C myc
        $("#update").click(function () {

            data = '{"peers": ["peer0.org1.example.com", "peer1.org1.example.com"],"fcn": "updateCptyISDA","args": ["' + $("#OwnCpty").val() + '","' + $("#CptyID").val() + '","' + $("#CptyIndependAmt").val() + '","' + $("#OwnIndependAmt").val() + '","' + $("#CptyThreshold").val() + '","' + $("#OwnThreshold").val() + '","' + $("#CptyMTA").val() + '","' + $("#OwnMTA").val() + '","' + $("#Rounding").val() + '","' + $("#StartDate").val() + '","' + $("#EndDate").val() + '","' + $("#USDCashPCT").val() + '","' + $("#TWDCashPCT").val() + '","' + $("#USDBondPCT").val() + '" ,"' + $("#TWDBondPCT").val() + $("#txid").val() + '"]}'
            alert(data);

            // 使用 ajax() 來呼叫 REST API
            $.ajax({
                url: site + "/channels/mychannel/chaincodes/mycc",
                type: "POST",
                data: data,
                contentType: "application/json; charset=utf-8",
                complete: function (data, textStatus, jqXHR) {
                    console.log(textStatus);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $("#dvPostResult").html('交易TXID:<br/><b>' + data + '</b>');

                    swal({
                        title: "交易成功!",
                        text: "",
                        icon: "success",
                        button: "確定",
                    });

                    $.ajax({
                        type: "GET",
                        url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryCptyISDA&args=%5B%22" + $("#txid").val() + "%22%5D",
                        dataType: "html",
                        success: function (data) {
                            var data1 = data.replace(' now has', '');
                            var data2 = data1.replace(' after the move', '');
                            var datas = [];

                            $('#reportTable').html("");
                            $('#reportTable').bootstrapTable('destroy');

                            var json = JSON.parse(data2);

                            console.log(json);
                            $("#dvPostResult").html(json.docType + " loaded successfully.");

                            datas[0] = {

                                "TXID": json.TXID,
                                "OwnCptyID": json.OwnCptyID,
                                "Cpty": json.Cpty,
                                "CptyIndependAmt": json.CptyIndependAmt,
                                "OwnIndependAmt": json.OwnIndependAmt,
                                "CptyThreshold": json.CptyThreshold,
                                "OwnThreshold": json.OwnThreshold,
                                "CptyMTA": json.CptyMTA,
                                "OwnMTA": json.OwnMTA,
                                "Rounding": json.Rounding,
                                "StartDate": json.StartDate,
                                "EndDate": json.EndDate,
                                "USDCashPCT": json.USDCashPCT,
                                "TWDCashPCT": json.TWDCashPCT,
                                "USDBondPCT": json.USDBondPCT,
                                "TWDBondPCT": json.TWDBondPCT,
                                "createTime": json.CreateTime,
                                "updateTime": json.UpdateTime
                            }

                            $('#reportTable').bootstrapTable({
                                method: 'get',
                                cache: false,
                                striped: true,
                                pagination: true,
                                pageSize: 5,
                                pageNumber: 1,
                                pageList: [5, 10, 20, 50, 100, 200, 500], sidePagination: 'client',
                                search: true,
                                showColumns: true,
                                showRefresh: false,
                                showExport: false,
                                exportTypes: ['csv', 'txt', 'xml'],
                                search: true,
                                clickToSelect: true,
                                columns:
                                    [
                                        { field: "TXID", title: "交易<br/>序號", align: "left", valign: "middle", sortable: "true" },
                                        { field: "OwnCptyID", title: "OwnCptyID<br/>", align: "left", valign: "middle", sortable: "true" },
                                        { field: "USDBond", title: "USDBond <br/>", align: "right", valign: "middle", sortable: "true" },
                                        { field: "TWDBond", title: "TWDBond<br/>", align: "right", valign: "middle", sortable: "true" },
                                        { field: "AUD", title: "AUD<br/>", align: "right", valign: "middle", sortable: "true" },
                                        { field: "BRL", title: "BRL", align: "right", valign: "middle", sortable: "true" },
                                        { field: "CAD", title: "CAD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "CHF", title: "CHF", align: "right", valign: "middle", sortable: "true" },
                                        { field: "CNY", title: "CNY", align: "right", valign: "middle", sortable: "true" },
                                        { field: "EUR", title: "EUR", align: "right", valign: "middle", sortable: "true" },
                                        { field: "GBP", title: "GBP", align: "right", valign: "middle", sortable: "true" },
                                        { field: "HKD", title: "HKD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "INR", title: "INR", align: "right", valign: "middle", sortable: "true" },
                                        { field: "JPY", title: "JPY", align: "right", valign: "middle", sortable: "true" },
                                        { field: "KRW", title: "KRW", align: "right", valign: "middle", sortable: "true" },
                                        { field: "MOP", title: "MOP", align: "right", valign: "middle", sortable: "true" },
                                        { field: "MYR", title: "MYR", align: "right", valign: "middle", sortable: "true" },
                                        { field: "NZD", title: "NZD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "PHP", title: "PHP", align: "right", valign: "middle", sortable: "true" },
                                        { field: "SEK", title: "SEK", align: "right", valign: "middle", sortable: "true" },
                                        { field: "SGD", title: "SGD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "THB", title: "THB", align: "right", valign: "middle", sortable: "true" },
                                        { field: "TWD", title: "TWD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "USD", title: "USD", align: "right", valign: "middle", sortable: "true" },
                                        { field: "ZAR", title: "ZAR", align: "right", valign: "middle", sortable: "true" },
                                        { field: "createTime", title: "建立<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                        { field: "updateTime", title: "修改<br/>時間", align: "left", valign: "middle", sortable: "true" },
                                    ],
                                data: datas,
                            });

                        },
                        error: function (jqXHR) {
                            alert("發生錯誤: " + jqXHR.status);
                            console.log(jqXHR);
                        },
                        //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                        beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
                    })


                },
                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
            });
        })

        $("#search").click(function () {
            //alert(site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryCptyISDA&args=%5B%22" + $("#txid").val() + "%22%5D")
            $.ajax({
                type: "GET",
                url: site + "/channels/mychannel/chaincodes/mycc?peer=peer0.org1.example.com&fcn=queryCptyISDA&args=%5B%22" + $("#txid").val() + "%22%5D",
                dataType: "html",
                success: function (data) {
                    console.log(data)
                    var data1 = data.replace(' now has', '');
                    var data2 = data1.replace(' after the move', '');
                    //$('#bank').html("")
                    var json = JSON.parse(data2);
                    console.log(json);
                    $("#dvPostResult").html(json.docType + " loaded successfully.");

                    $("#OwnCpty").val(json.OwnCptyID);
                    $("#Cpty").val(json.CptyID);
                    $("#CptyIndependAmt").val(json.CptyIndependAmt);
                    $("#OwnIndependAmt").val(json.OwnIndependAmt);
                    $("#CptyThreshold").val(json.CptyThreshold);
                    $("#OwnThreshold").val(json.OwnThreshold);
                    $("#CptyMTA").val(json.CptyMTA);
                    $("#OwnMTA").val(json.OwnMTA);
                    $("#Rounding").val(json.Rounding);
                    $("#StartDate").val(json.StartDate);
                    $("#EndDate").val(json.EndDate);
                    $("#USDCashPCT").val(json.USDCashPCT);
                    $("#TWDCashPCT").val(json.TWDCashPCT);
                    $("#USDBondPCT").val(json.USDBondPCT);
                    $("#TWDBondPCT").val(json.TWDBondPCT);
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                    console.log(jqXHR);
                },
                //beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTY2NjcwMDMsInVzZXJuYW1lIjoiSmltIiwib3JnTmFtZSI6Im9yZzEiLCJpYXQiOjE1MTY2MzEwMDN9.TTXLF5Z4dv5FdWD5qJ_W19jXb6H1WdIzGJ6QnDJ_qBE"); }
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + $("#token").val()); }
            })
        })
    });</script>
}